@import 'normalize'
@import 'jeet'
@import 'colors'
@import 'typography'

html,
body,
#map-canvas
  height 100%
  width 100%
  margin 0
  padding 0

.wrapper
  cf()

.about
  text-align center
  background #fff
  padding .5em
